<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/miku_ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/miku_ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Setu">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Setu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <!--  Android 10 以下需要 WRITE_EXTERNAL_STORAGE 才能写入 Download -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <!--  对于 Android 11+，MediaStore 不需要存储权限，但需要申请 MANAGE_EXTERNAL_STORAGE ？其实不需要，直接 MediaStore 即可。 -->
</manifest>